body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e0e0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    transition: background-color 0.3s;
}

.calculator {
    width: 360px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: background-color 0.3s;
}

.calculator-screen {
    width: 100%;
    height: 60px;
    font-size: 2.5rem;
    text-align: right;
    border: none;
    margin-bottom: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.function, button.memory {
    background-color: #80cbc4;
    color: #fff;
}

button.operator {
    background-color: #ffa726;
    color: #fff;
}

button.equal-sign {
    background-color: #ef5350;
    color: #fff;
    grid-column: span 2;
}

button.all-clear, button.toggle-theme {
    background-color: #ab47bc;
    color: #fff;
    grid-column: span 2;
}

button:active {
    background-color: #e0e0e0;
}

button.function:active, button.memory:active {
    background-color: #4db6ac;
}

button.operator:active {
    background-color: #fb8c00;
}

button.equal-sign:active {
    background-color: #e53935;
}

button.all-clear:active {
    background-color: #8e24aa;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.calculator.dark-mode {
    background-color: #333333;
}

.calculator-screen.dark-mode {
    background-color: #666666;
}

button.dark-mode {
    background-color: #444444;
    color: #ffffff;
}

button.function.dark-mode, button.memory.dark-mode {
    background-color: #00796b;
}

button.operator.dark-mode {
    background-color: #e64a19;
}

button.equal-sign.dark-mode {
    background-color: #d32f2f;
}

button.all-clear.dark-mode, button.toggle-theme.dark-mode {
    background-color: #7b1fa2;
}
